blib*
Makefile
Makefile.old
*~
*swp
Build
_build*
pm_to_blib*
*.tar.gz
*.tar.bz2
.lwpcookies
cover_db
*.bak
*.log
*Makefile.in
*.libs
*.la
*.deps
*Makefile.in
*.o
*.lo
*dotest
config.log
autom4te.cache
stamp-h1
Doxyfile
compile
config.status
myconfig.h
uc.pc
uc.spec
doc/doxygen
autom4te.cache
aclocal.m4
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
m4
missing
config.h
libtool
src/uccmain
src/uccppmain
uc-config
src/ucrun
