blib*
Makefile
Makefile.old
*~
*swp
Build
_build*
pm_to_blib*
*.tar.gz
*.tar.bz2
.lwpcookies
cover_db
*.bak
*.log
*Makefile.in
*.libs
*.la
*.deps
*Makefile.in
*.o
*.lo
*dotest
config.log
autom4te.cache
stamp-h1
Doxyfile
compile
config.status
myconfig.h
uc-config
uc.pc
uc.spec
doc/doxygen
autom4te.cache
aclocal.m4
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
config.h
libtool
src/uccmain
src/uccppmain
src/ucrun
config.h.in
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
*.zip
