blib*
find . -name "*.bak" -print
find . -name .svn -print
Makefile
Makefile.old
*~
*swp
Build
_build*
pm_to_blib*
*.tar.gz
.lwpcookies
cover_db
MANIFEST.bak
config.log
src/server/.deps
autom4te.cache
stamp-h1
